.card {
    aspect-ratio: 16/9;
    height: 12rem;
    border-radius: 0.6rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: #ffffff;
    border: 1px solid rgb(34, 29, 78);
    transition: 0.6s;

}

.card img {
    width: auto;
    height: auto;
    overflow: hidden;
    transition: transform 0.6s linear;
    text-align: center;
    background-size: contain;
    transition: 0.8s;

}

.card:hover  {
    transform: scale(1.1);
}

.card .cardContent {
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    height: 12rem;
    aspect-ratio: 16/9;
    display: flex;
    border-radius: 0.6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    opacity: 0%;
    border: 1px solid rgb(25, 0, 255);

}

.card:hover .cardContent {
    animation: slideUp 0.6s ease-out;
    opacity: 100%;
}

@keyframes slideDown {
    from {
        transform: translateY(-2rem);
        opacity: 0%
    }

    ;

    to {
        transform: translate(0);
        opacity: 100%;
    }

}

@keyframes slideUp {
    from {
        transform: translateY(10rem);
        opacity: 0%
    }

    ;

    to {
        transform: translate(0);
        opacity: 100%;
    }

}



.cardBtn {
    background: transparent;
    outline: none;
    border: 1px solid blue;
    padding-inline: 1.2rem;
    padding-block: 0.5rem;
    border-radius: 1.2rem;
    font-size: larger;
    cursor: pointer;
    transition: background 0.5s linear;
}

.cardBtn a {
    color: rgb(189, 189, 240);
    font-size: 1rem;
    text-decoration: none;
}

.cardBtn:hover {
    background: rgba(0, 0, 255, 0.6);
}